.web-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 900px;
}

.header {
    width: 100%;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
    background-color: #8bcee0;
    font-family: Tahoma, Geneva, sans-serif;
    font-kerning: auto;
    border-radius: 25px;
}

.timer-panel {
    width: 100%;
}

.list-panel {
    width: 50%;
    float: left;
}

.statistics-panel {
    float: left;
    width: 50%;
}
